<div class="container-fluid py-4 mb-3 bg-white">
    <div class="row justify-content-between">
        <div class="col">
            <h2 class="title">Criteres d'affichage</h2>
        </div>
        <div class="col text-right">
            <button class="btn btn-outline-primary" (click)="resetCriteria()"><fa-icon [icon]="faTrash"></fa-icon> Reinitialiser critères</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-filters [rowData]="rowData" [(criteria)]="criteria" [accountNb]="allAccountNumbers" [accountTypes]="allAccountTypes"></app-filters>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-outline-primary" (click)="filterData()"><fa-icon [icon]="faSyncAlt"></fa-icon> Actualiser</button>
        </div>
    </div>
</div>