<div class="container-fluid py-4 my-3 bg-white">
    <div class="row justify-content-between">
        <div class="col">
            <h2 class="title">Criteres d'affichage</h2>
        </div>
        <div class="col text-right">
            <button class="btn btn-outline-primary"><fa-icon [icon]="faTrash"></fa-icon> Reinitialiser critères</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-filters></app-filters>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-outline-primary"><fa-icon [icon]="faSyncAlt"></fa-icon> Actualiser</button>
        </div>
    </div>
</div>